
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
:root{
    --verde:#8EC07C;
    --verde-hover:#76a167;
    --eliminar:#FB4934;
    --eliminar-hover:#CC241D;
    --background:#f1f1f1;
    --fuente:#3c3836;
}
body{
    font-family: "Lato", sans-serif;
    background-color: var(--background);
    color: var(--fuente);
    margin: 0px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    padding: 20px 50px;
    min-height: 80vh;
}
.barra{
    height: 80px;
    background-color: var(--verde);
    display: flex;
    align-items: center;
}

.boton{
    padding: 7px 35px;
    background-color: var(--verde);
    border: 1px solid var(--verde-hover);
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: var(--verde-hover);
    color: white;
}

.eliminar{
    background-color: var(--eliminar);
    border-style: none;
    color: white;
    cursor: pointer;
}
.eliminar:hover{
    background-color: var(--eliminar-hover);
    
}
.boton-eliminar-opc{
    border-radius: 50%;
    
}
.boton-eliminar-pre{
    padding: 5px 20px;
    border-radius: 5px;
}

.titulo-descripcion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#contenedor-preguntas{
    margin: 30px auto 30px 10px;
}
.barra-divisor{
    margin: 25px 20px 25px 20px;
    color: #1a191913;
}
.item{
    margin: 15px;
}

.visualizacion{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16), 0px 2px 10px rgba(0, 0, 0, 0.12);
    padding: 20px 50px;
}
.estilo-input{
    background-color: white;   
    outline: 0;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
}
/* .titulo{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--fuente);
} */
.descripcion{
    font-size: 14px;
    margin-left: 40px;
    font-weight: 400;
}

.contenedor-boton{
    display: flex;
    justify-content: space-evenly;
}
.opciones-crear input{
    margin-left: 20px;
    margin-top: 5px;
}

.opciones-visualizacion{
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.regresar{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 30px;
}
.back{
    color: white;
    font-size: 35px;
}
.regresar a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}