:root{
    --background: #f1f1f1;
    --text: #797979;
    --primary:#427B58;
    --active: #689D6A;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}
/* ####################################### */
/*            NAVEGACION                   */
.fondo-nav{
    background-color: white;
    border-bottom: 1px solid var(--primary);
}
.contenedor-navegacion{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.navegacion-pages {
    padding: 10px 0px;
    display: flex;
    align-items: center;   
}
.navegacion-pages ul {
    margin: 0px;
}
.navegacion-pages ul li{
    display: inline-block;
}
.navegacion-pages ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    margin: 0px 8px;  
    font-weight: 300;
    
}

.nav-hover{
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 3px 
    no-repeat;
    transition: 0.5s;
}
.nav-hover:hover{
    --d: 100%;
}
.navegacion-active{
    color: var(--active) !important;
}
.navegacion-borde {
    border: 1px solid var(--active);
    padding: 10px 10px;
    border-radius: 5px;
}
.navegacion-login:hover{
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
}
.navegacion-registro{
    background-color: var(--active);
    color: white !important;
}
.navegacion-registro:hover{
    background-color: var(--primary);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
}

/* BOTONES */
.btn{
    border: 1px solid var(--active);
    background-color: var(--active);
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.btn:hover{
    background-color: var(--primary);
    transition: 0.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50),0px 2px 10px rgba(0, 0, 0, 0.48);   
}

.line-divisor{
    margin: 50px 100px 20px 100px;
    color: #4585881f;
}

.footer{
    background-color: var(--active);
    text-align: center;
    margin: 100px auto 0px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
    padding: 5px;
    color: white;
}
.footer p{
    margin-bottom: 0px;
}
