
html, body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}
.centrar-texto{
    text-align: center;
}

/*############################ HEADER ############################ */

.fondo-titulo{
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../../img/contacto-imagen.jpeg);
    height: 89vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.fondo-titulo h1{
    font-size: 55px;
    margin: 0px;
}
.fondo-titulo div p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-contenedor{
    margin: 2px 350px;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    border: 1px solid var(--active);
    padding: 15px 30px;
    border-radius: 5px;
    background-color: var(--active);
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.btn:hover{
    background-color: var(--primary);
    transition: 0.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50),0px 2px 10px rgba(0, 0, 0, 0.48);   
}

/* LINEA DIVISORA */

.line-divisor{
    margin: 50px 100px 20px 100px;
    color: #4585881f;
}

/* FORMULARIO Y REDES */
.contenedor-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 150px 20px 150px;
    column-gap: 80px;
    min-height: 500px;
    color: var(--text);
}
.espacio-form{
    background-color: white;
    padding: 0px 50px;
    border-radius: 5px;
    min-width: 384px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
}
.espacio-form:hover{
    transition: 0.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50),0px 2px 10px rgba(0, 0, 0, 0.46);
}
.llenar-form{
    display: flex;
    flex-direction: column;
}
.llenar-form .input-text {
    margin-top: 25px;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
    border-radius: 0px 0px 5px 0px;
    color: var(--text);
    font-weight: 400;
}

.llenar-form  .input-text::placeholder{
    font-weight: 300;
}
.llenar-form textarea{
    height: 100px;
    max-width: 376px;
    max-height: 129px;
}
.btn-input{
    margin-top: 25px;
    border: 1px solid var(--active);
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--active);
    text-decoration: none;
    color: white ;
    font-weight: 300;
    cursor: pointer;
}
.btn-input:hover{
    background-color: var(--primary);
    transition: 0.5s;
}

/* CONTACTANOS REDES */

.color-principal{
    color: var(--primary);
}
.redes-contenedor{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    font-size: 20px;
    padding: 20px 10px;
    
}
.redes-contenedor a{
    padding: 15px 20px;
    color: var(--text);
    border-radius: 20px;
}
.facebook:hover{
    background-color: #3B5999;
    color: white;
    transition: 0.5s;
}
.twitter:hover{
    background-color: #1DA1F2;
    color: white;
    transition: 0.5s;
}
.instagram:hover{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    transition: 0.5s;
}
.youtube:hover{
    background-color: #FF0000;
    color: white;
    transition: 0.5s;
}
